<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
        <!--会被文件覆盖-->
        <property name="username" value="a"/>
    </properties>
    <!--将下划线数据库字段名自动映射为驼峰格式-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--类型别名-->
    <typeAliases>
        <typeAlias alias="User" type="top.itlq.mybatis.learning.dao.User"/>
    </typeAliases>
    <!--核心配置，环境，用于构建configuration -> -->
    <environments default="development">
        <environment id="development">
            <!--事务管理，用于指定 TransactionFactory -->
            <transactionManager type="JDBC"/>
            <!--数据源连接信息-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射文件-->
    <mappers>
        <mapper resource="top/itlq/mybatis/learning/dao/xml/UserMapper.xml"/>
        <mapper resource="top/itlq/mybatis/learning/dao/xml/UserFavoritesMapper.xml"/>
    </mappers>
</configuration>