<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间和映射sql语句，session执行时需要命名空间 + id的完全限定名进行匹配-->
<mapper namespace="top.itlq.mybatis.learning.dao.xml.UserMapper">
    <select id="selectUser" parameterType="int" resultType="top.itlq.mybatis.learning.dao.User">
      select * from user where id = #{id}
    </select>
</mapper>