<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.itlq.mybatis.learning.dao.xml.UserFavoritesMapper">

    <resultMap id="resultMap" type="top.itlq.mybatis.learning.dao.UserFavoritesEntity">
        <id property="id" column="id"/>
        <!--<result property="userKey" column="user_key"/>-->
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="operTime" column="oper_time"/>
        <result property="useFlg" column="use_flg"/>
    </resultMap>

    <sql id="table-name">
        user_favorites
    </sql>

    <sql id="columns">
        id,user_key,content,create_time,oper_time,use_flg
    </sql>

    <sql id="where">
        <where>
            <if test="null != id">
                and self.id = #{id}
            </if>
        </where>
    </sql>

    <select id="selectWithUserKey" resultMap="resultMap" parameterType="int">
        select
        <include refid="columns"/>
        from
        <include refid="table-name"/> self
        where self.user_key = #{userKey}
    </select>
</mapper>